<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="repost-h1">My Reposts library</h1>
      <p><%= render "filter_form" %></p>
      <p><% @reposts.each do |repost| %></p>
        <p><%= form_tag repost_publications_url(repost) do %></p>
        <%= hidden_field_tag :repost_id , repost.id %>
        <div class="repost">
          <%= image_tag "#{repost.image_url}", class: "twit-image" %>
          <div class="repost-body">
            <h3><%= repost.content %></h3>
            <% c = repost.publications.count %>
            <% if c > 0 %>
              <h6>This repost has been published <%= link_to "#{c} time#{'s' if c > 1}", repost_publications_url(repost) %></h6>
            <% else %>
              <h6>This repost has been published 0 time</h6>
            <% end %>
            <h6>
              <i class="fa fa-bullhorn fa" aria-hidden="true"></i> <%= repost.engagement_sum %> </span>&nbsp;&nbsp;
              <i class="fa fa-retweet fa" aria-hidden="true"></i> <%= repost.retweets_sum %> &nbsp;&nbsp;
              <i class="fa fa-heart fa" aria-hidden="true"></i> <%= repost.likes_sum %> &nbsp;&nbsp;
              <i class="fa fa-bar-chart" aria-hidden="true"></i> <%= repost.click %>
            </h6>
            <h6><%= link_to "#{repost.content_url.truncate(40)}", repost.content_url %> </h6>
            <% if repost.publications.last.present? %>
              <p>Last publication date <%= (repost.publications.last.created_at).strftime("%A, %B %d, %Y at %I:%M%p %Z") %></p>
            <% else %>
              <p>This repost has not been published yet.</p>
            <% end %>
            <%= link_to "Delete", repost_path(repost), name: nil, class: "btn btn-danger btn-sm", method: :delete, data: {:confirm => 'Are you sure?'} %>
            <%= submit_tag "Publish now", class: "btn btn-primary btn-sm" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
