<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="h1-repost">My Reposts</h1>
      <p><%= render "filter_form" %></p>
      <p><% @reposts.each do |repost| %></p>
        <div class="repost">
          <img src="<%=repost.image_url %>" alt="repost.id" class="repost-image hidden-xs">
          <div class="repost-body">
            <h3><%= repost.content %></h3>
            <h5>Engagement => <%= repost.engagement %><h5>
            <p><%= repost.like %> Like + <%= repost.retweet %> Retweet</p>
            <p>first tweeted on <%= (repost.first_date).strftime("%A, %B %d, %Y") %></p>
            <%= link_to "Delete", repost_path(repost), name: nil, class: "btn btn-danger btn-sm", method: :delete, data: {:confirm => 'Are you sure?'} %>
            <%= link_to "Edit your schedule", repost_path(repost), name: nil, class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
