<div class="container">
  <%= link_to "Cancel filter", twits_path %> | <%= link_to "Go to Reposts", reposts_path %>


  <%= form_tag twits_path do %>
  <%= label_tag(:twitter_user, "Twitter User:") %>
  <%= text_field_tag :twitter_user %>
    <%= submit_tag "GO", class: "btn btn-primary btn-xs" %>
  <% end %><br>


  <%= form_tag twits_path, method: :get do %>
    <%= label_tag(:filter, "Filter by:") %>
    <%= select_tag :filter_by, options_for_select(["engagement", "like", "retweet"]), :include_blank => true,
    class: "btn dropdown-toggle" %>
    <%= label_tag(:start, "Filter by:") %>
    <%= text_field_tag :min %>
    <%= label_tag(:filter, "Filter by:") %>
    <%= text_field_tag :max %>
    <%= label_tag(:start, "Filter by:") %>
    <%= text_field_tag :start_at %>
    <%= label_tag(:start, "Filter by:") %>
    <%= text_field_tag :end_at %> --
    with <%= select_tag :media, options_for_select(["video_url", "image_url"]), :include_blank => true,
    class: "btn dropdown-toggle" %>
    <%= submit_tag "Filter", name: nil, class: "btn btn-primary btn-sm" %>
  <% end %>
</div>
