<div class="container">
  <h1>My best Tweets</h1>


  <p>
   <%= render "filter_form" %>
  </p>


  <ul>
    <% @twits.each do |twit| %>
      <li>
        <%= link_to "#{twit.link}", twit_path(twit) %> | Engagement => <%= twit.engagement %> | <%= twit.like %> likes | <%= twit.retweet %> retweets | on <%= twit.first_date %>
        <%= check_box_tag(:filter_by) %>
        <%= link_to twit_path(twit) do %>
          <i class="glyphicon glyphicon-eye-open"></i>
        <% end %>
        <%= link_to twit_path(twit), method: :delete do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </li>
    <% end %>
  </ul>



</div>


