<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="twit-h1">My best Tweets</h1>
      <p><%= render "filter_form" %></p>
      <p><% @twits.each do |twit| %></p>
        <p><%= form_tag reposts_path do %></p>
        <%= hidden_field_tag :twit_id , twit.id %>
        <div class="twit">
          <%= image_tag "#{twit.image_url}", class: "twit-image" %>
          <div class="twit-body">
            <% if twit.content.present? %>
              <h3><%= twit.content %></h3>
            <% else %>
              <%= "This tweet has no text" %>
            <% end %>
            <% if twit.content_url.present? %>
              <%= link_to "#{twit.content_url}".truncate(70), twit.content_url, class: "twit-link" %>
            <% else %>
              <%= "This tweet has no link" %>
            <% end %>
            <h5>Engagement => <%= twit.engagement %></h5>
            <h6><i class="fa fa-retweet fa" aria-hidden="true"></i> <%= twit.retweet %>&nbsp;&nbsp;
            <i class="fa fa-heart fa" aria-hidden="true"></i> <%= twit.like %></h6>
            <p>first tweeted on <%= (twit.first_date).strftime("%A, %B %d, %Y") %></p>
            <%= link_to "Delete", twit_path(twit), name: nil, class: "btn btn-danger btn-sm", method: :delete, data: {:confirm => 'Are you sure?'} %>
            <%= submit_tag "Schedule and add to your Repost library", class: "btn btn-primary btn-sm" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
